{%extends 'base.html'%} 
{% load static %} 
{% load bootstrap4 %} 
{% block content %}
</style>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    {% if messages %}

        {% for message in messages %}
          <div class="message alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          {{ message }}</div>

        {% endfor %}

    {% endif %}
    <div class="col-md-4"></div>
  </div>
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-2"></div>
    
    <h3> <a href="{%url 'current_hood'%}" class="btn btn-primary" >My Hood</a></h3>
  </div>
  <div class="row">
    {% for hood in nhoods%}
    <div class="col-md-5 col-xs-12 col-sm-12 col-lg-6">
      <div class="card">
        <div class="card-body">
              <div class="img-cont">
                <img class="card-img-top img-responsive i-images" src="{{hood.photo.url}}">
              </div>
                <div class="text">{{hood.name}}</div>
                {% autoescape off %}
                <div class="text">{{hood.description}}</div>
                {% endautoescape %}
                <div class="text">Members : {{hood.members.count}}</div>
                <br>
                <a href="{% url 'join_hood' id=hood.id%}" class="btn btn-warning btn-block">Join Hood</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}