{% load bootstrap4 %}
{% load static %}

<nav style="background-color:white;" class="animated slideInDown navbar-collapse navbar-expand-lg sticky-top ">
    <div class="navbar mx-5">
      <div id="logo" >
        <a href="{% url 'index' %}" id="brand" style="color: black;"> NEIGHBORHOOD.</a>
      </div>
      <div class="nav-search">
        <form class="navbar-form" role="search" action="{% url 'search' %}" style="width:auto">

            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search businesses" name="name" style="height:38px;">
              <div class="input-group-btn">
              </div>
            </div>
     
          </form>
         <section class="icons-section" ></section>
      </div>
      {% if user.is_authenticated %}
      <a class="text-dark" href="{% url 'add_neighborhood'%}" >Create Hood</a>
      {%  endif %}        

      <div class="nav-right">
        {% if user.is_authenticated %}
        <a href="/logout/" class="accounts" style="color: black;">Log Out</a>
        <a href="{% url 'profile' username=user %}" class="avatar">
          <a href="{% url 'profile' username=user %}"><ion-icon name="contact" class="ionic"></ion-icon></a>
        </a>
        {% else %}
        <a href="/accounts/login" class="accounts" style="color: black;">Log In</a>        
        {%  endif %}        
      </div>
    </div>
</nav>



